*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ConverterApp/nbproject/private/
/ConverterRemoteInterface/nbproject/private/
/EJBConverterV2/nbproject/private/
/EJBConverter/nbproject/private/
/WebConverter/nbproject/private/

/ConverterApp/nbproject/private/
/ConverterApp/build/
/ConverterApp/nbbuild/
/ConverterApp/dist/
/ConverterApp/nbdist/
/ConverterApp/.nb-gradle/

/ConverterRemoteInterface/nbproject/private/
/ConverterRemoteInterface/build/
/ConverterRemoteInterface/nbbuild/
/ConverterRemoteInterface/dist/
/ConverterRemoteInterface/nbdist/
/ConverterRemoteInterface/.nb-gradle/

/EJBConverterV2/nbproject/private/
/EJBConverterV2/build/
/EJBConverterV2/nbbuild/
/EJBConverterV2/dist/
/EJBConverterV2/nbdist/
/EJBConverterV2/.nb-gradle/

/EJBConverter/nbproject/private/
/EJBConverter/build/
/EJBConverter/nbbuild/
/EJBConverter/dist/
/EJBConverter/nbdist/
/EJBConverter/.nb-gradle/

/WebConverter/nbproject/private/
/WebConverter/build/
/WebConverter/nbbuild/
/WebConverter/dist/
/WebConverter/nbdist/
/WebConverter/.nb-gradle/
